@import "compass";
@import "compass/layout/sticky-footer";

$base: silver;
$alt: blue;

#block-drippy-assistant {
  .js & {
    @include reset-box-model;
    position: fixed;
    left: 1em;
    bottom: 0;
    .content {
      display: none;
    }
  }
  .content img {
    width: 200px;
    height: auto;
  }
  .drippy-message {
    position:relative;
    padding:15px;
    color: $base;
    background: $alt; /* default background for browsers without gradient support */

    /* css3 */
    @include border-radius(10px);
    &:after {
      content: "";
      display: block; /* reduce the damage in FF3.0 */
      position: absolute;
      bottom: -15px; /* value = - border-top-width - border-bottom-width */
      left: 50px; /* controls horizontal position */
      width: 0;
      height: 0;
      border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
      border-style: solid;
      border-color: $alt transparent;
    }
  }
}
